section.item-page--left-side {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 2rem;
}

/* Media Queries */

@media(min-width: 1024px) {
  section.item-page--left-side {
    flex-direction: row;
    padding-right: 3rem;
  }
}