ul.categories li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: burlywood;
}

ul.categories li.category.selected {
  background-color: chocolate;
}