li.sort-option {
  color: var(--sort-text-color);
  padding: 0.4rem;
  text-align: left;
  font-weight: 500 !important;
  border: 1px solid transparent;
}

li.sort-option:last-child {
  border-radius: 0 0 5px 5px;
}

li.sort-option:hover, option.sort-option.active {
  background-color: var(--sort-hover-color);
}