aside.filters {
  width: 100%;
  max-width: 430px;
  padding-right: 2px;
  position: fixed;
  background-color: var(--filters-bg-color);
  inset: 0;
  z-index: var(--z-3);
  overflow: auto;
  transition: transform 300ms ease-in-out;
  transform: translateX(-100%);
}

aside.filters.open {
  transform: translateX(0);
}


/* Media Queries */

@media(min-width: 1024px) {
  aside.filters {
    position: absolute;
    transform: translateX(0);
    max-width: none;
    background-color: transparent;
  }
}