aside.filters {
  width: 100%;
  max-width: 400px;
  position: fixed;
  background-color: #0000ff60;
  inset: 0;
  z-index: 11111;
  transition: transform 200ms ease-in-out;
  transform: translateX(-100%);
}

aside.filters.open {
  transform: translateX(0);
}


/* Media Queries */

@media(min-width: 1024px) {
  aside.filters {
    position: static;
    transform: translateX(0);
  }
}