section.item-page--top-part {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: chartreuse;
}

/* Media Queries */

@media(min-width: 1024px) {
  section.item-page--top-part {
    flex-direction: row;
  }
}