main.landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main.landing-page div.wrapper {
  flex: 1;
  display: flex;
} 

main.landing-page div.wrapper div.content-wrapper {
  position: relative;
  width: 100%;
}