ul.nav-items li.nav-item a {
  padding: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
  color: var(--font-color);
}

ul.nav-items li.nav-item a.active {
  color: var(--active-link-color);
}


/* Media Queries */

@media(min-width: 600px) {
  ul.nav-items li.nav-item a {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}