section.suggestions p.header {
  font-weight: 600 !important;
  font-size: 1.5rem;
  color: var(--suggestion-header-color);
  margin-bottom: 0.5rem;
}

section.suggestions.loading {
  animation: opacity-change 2000ms cubic-bezier(0.215, 0.610, 0.355, 1) infinite forwards;
}

@keyframes opacity-change {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}