button.burger-btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

button.burger-btn .line {
  width: 50px;
  height: 8px;
  background-color: #000;
  transition: all 300ms;
  border-radius: 9999px;
}


button.burger-btn.open .top-line {
  transform: translateY(15px) rotateZ(45deg);  
}

button.burger-btn.open .mid-line {
  opacity: 0;  
}

button.burger-btn.open .bottom-line {
  transform: translateY(-15px) rotateZ(-45deg);  
}