div.item-photo-list--each-photo {
  position: relative;
  cursor: default;
}

div.item-photo-list--each-photo.selected::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--selected-photo-color);
}