div.item-photo-list--each-photo {
  background-color: var(--bg-color);
  position: relative;
  cursor: default;
}

div.item-photo-list--each-photo img {
  border: 1px solid var(--line-color);
}

div.item-photo-list--each-photo.selected::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--selected-photo-color);
}