div.address {
  width: 100%;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 0.5rem;
}

div.address p.label {
  font-size: 1rem;
  text-transform: capitalize;
}

div.address p.value {
  font-size: 1.1rem;
  margin-top: 0.1em;
}

