option.sort-option {
  color: var(--font-color);
  padding: 0.4rem;
  text-align: left;
  font-weight: 500 !important;
}

option.sort-option:last-child {
  border-radius: 0 0 5px 5px;
}

option.sort-option:hover {
  background-color: var(--sort-hover-color);
}