option.sort-option {
  color: var(--font-color);
  padding: 0.4rem;
  text-align: left;
}

option.sort-option:last-child {
  border-radius: 0 0 5px 5px;
}

option.sort-option:hover {
  background-color: var(--sorting-hover-color);
}