button.filters-close-btn {
  background: transparent;
  border: none;
  margin: 1.5rem 0.5rem;
  cursor: pointer;
}

button.filters-close-btn .filters-close-btn--icon {
  width: 30px;
  height: 30px;
  color: var(--filters-close-btn-color);
}

/* Media Queries */

@media(min-width: 1024px) {
  button.close-btn {
    display: none;
  }
}