aside.filters button.close-btn {
  position: relative;
  width: 3rem;
  height: 0.5rem;
  background: transparent;
  border: none;
  margin-block: 1.3rem 2rem;
  margin-left: calc(100% - 3rem);
}

aside.filters button.close-btn div.line {
  position: absolute;
  background: #000;
  inset: 0;
  border-radius: 99999px;
}

aside.filters button.close-btn div.line-1 {
  transform: rotateZ(45deg);
}

aside.filters button.close-btn div.line-2 {
  transform: rotateZ(-45deg);
}

/* Queries */

@media(min-width: 1024px) {
  aside.filters button.close-btn {
    display: none;
  }
}