div.cart-item {
  position: relative;
  width: 100%;
  padding: 0.5rem;
}

div.cart-item::after {
  position: absolute;
  content: "";
  left: 0.5rem;
  right: 0.5rem;
  height: 1px;
  background-color: var(--main-border-color);
}

div.cart-item section.top {
  display: flex;
  gap: 0.5rem;
}

div.cart-item section.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 0.5rem;
  margin-right: 10px;
}

div.cart-item div.cart-item-elm {
  display: flex;
  align-items: center;
  gap: 5px;
}

div.cart-item div.cart-item-elm p.label {
  font-size: 0.7rem;
}

div.cart-item div.cart-item-elm p.val_unit {
  font-size: 0.9rem;
}

div.cart-item div.cart-item-elm {
  display: flex;
  align-items: center;
  gap: 5px;
}

div.cart-item div.left-col p {
  margin-top: 5px;
  text-align: center;
}

div.cart-item div.right-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Media Queries*/

@media (min-width: 370px) {
  div.cart-item div.cart-item-elm p.label {
    font-size: 0.8rem;
  }

  div.cart-item div.cart-item-elm p.val_unit {
    font-size: 1rem;
  }
}