section.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

/* Media Queries */

@media(min-width: 1024px) {
  section.top-bar {
    justify-content: end;
  }
}