article.item {
  transition: all 100ms;
}

article.item a {
  color: var(--content-text-color);
}

/* Media Queries */

@media(min-width: 1024px) {
  article.item:hover {
    background-color: var(--item-bg-color);
    scale: 1.01;
  }
}