nav {
  position: fixed;
  inset: 0;
  padding: 1rem;
  transform: translateX(100%);
  background-color: #74a8c5;
  transition: all 300ms;
  overflow-x: hidden;
}

nav.open {
  transform: translateX(0);
}


