button.filters-btn {
  background: none;
  border: none;
  cursor: pointer;
}

button.filters-btn .filters-icon {
  height: 30px;
  width: 30px;
  color: var(--top-bar-icon-color);
}

/* Media Queries */

@media(min-width: 1024px) {
  button.filters-btn {
    display: none;
  }
}