div.cart-contact {
  position: absolute; 
  width: 100%;
  left: 100%;
  top: 0;
  padding: 0.5rem;
}

div.cart-contact div.buttons {
  width: 100%;
  margin: 2rem auto 0;
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
}