div.filter-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  position: relative;
}

div.filter-loader-container div.filter-loader { 
  position: relative;
  width: 100%;
  padding: 1.4rem;
  background-color: var(--loader-color);
  overflow: hidden;
}

div.filter-loader-container div.filter-loader::before { 
  position: absolute;
  content: "";
  inset: 0;
  background: var(--loader-bg);
  animation: var(--loading-animation);
}