button.sort-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

button.sort-btn div.active {
  position: relative;
  width: fit-content;
  min-width: 120px;
  padding: 0.5rem;
  padding-left: 0;
}

button.sort-btn div.active p.active {
  color: #000;
  font-weight: 600;
}