a.language {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}

a.language p.text {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 700;
}

a.language p.text.arm {
  font-size: 1rem;
  font-weight: 600;
}


/* Media Queries */

@media(min-width: 1024px) {
  a.language {
    cursor: pointer;
  }
}