a.language {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}

a.language.disabled {
  pointer-events: none;
}

a.language p.text {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

