div.sort-list-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: var(--z-1);
  border-radius: 0 0 5px 5px;
  background-color: var(--sorting-bg-color);
  transition: all 300ms ease-in-out;  
}

div.sort-list-wrapper.open {
  padding-top: 0.5rem;
  grid-template-rows: 1fr;
}

ul.sort-list {
  overflow: hidden;
}