/* Variables */
:root {
  --dark-orange: #ff8e00;
  --oxford-blue: #002347;
  --amazon: #34685c;
  --saffron: #efbf38;
  --light-black: #00000040;
}

/* Basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
}