/* Basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

body.font-ru * {
  font-weight: 600;
}

body {
  height: 100dvh;
  background-color: var(--bg-color);
}

.no-scroll {
  overflow: hidden !important; 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
}