/* General */

:root {
  --dark-orange: #ff8e00;
  --oxford-blue: #002347;
  --amazon: #34685c;
  --saffron: #efbf38;
  --line-color: #ddd;
  --z-1: 1;
  --z-2: 11;
  --z-3: 111;
  --z-4: 1111;
  --z-5: 11111;
  --bg-color: #fff;
  --bg-color-deep: #f0f0f0;
  --font-color: #000;
  --loader-color: #eee;
  --loader-gradient-color: #fff;
  --no-content-color: #aaa;
}


/* Custom */

header {
  --header-border-color: var(--line-color);
}

nav {
  --active-link-color: var(--saffron);
  --nav-bg-color: var(--bg-color);
}

main.landing-page {
  --black-bg-color: #00000077;
}

a.language {
  --lang-border-color: var(--line-color);
  --lang-bg-color: var(--bg-color-deep);
}

div.sort-list-wrapper {
  --sort-bg-color: var(--bg-color);
  --sort-hover-color: var(--line-color);
  /* --sort-hover-color: #ccc; */
  --sort-text-color: var(--font-color);
}

aside.filters {
  --filters-bg-color: var(--bg-color);
  --category-bg-selected-color: var(--oxford-blue);
  --category-text-color: var(--font-color);
  --category-text-selected-color: var(--bg-color);
  --promo-bg-color: var(--dark-orange);
  --promo-text-color: var(--bg-color);
  --filter-btn-bg-color: var(--amazon);
  --filter-btn-text-color: var(--bg-color);
  --filters-close-btn-color: var(--font-color);
  --filters-loader-color: var(--loader-color);
  --filters-loader-gradient-color: var(--loader-gradient-color);
  --no-categories-color: var(--no-content-color);
}

section.content {
  --content-text-color: var(--font-color);
  --item-bg-color: var(--bg-color-deep);
  --promo-color: var(--dark-orange);
}