:root {
  --dark-orange: #ff8e00;
  --oxford-blue: #002347;
  --amazon: #34685c;
  --saffron: #efbf38;
  --light-black: #00000040;
  --z-1: 1;
  --z-2: 11;
  --z-3: 111;
  --z-4: 1111;
  --z-5: 11111;
  --sorting-bg-color: #ffffffca;
  --sorting-hover-color: #fff;
  --font-color: #000;


}