p.qty {
  display: flex;
  align-items: center;
  gap: 5px;
}

p.qty span {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

p.qty.unavailable span.value {
  font-size: 1.2rem;
  color: var(--unavailable-color);
}