a.cart-btn {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  background: var(--cart-btn-bg-color);
  color: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: all ease-in-out 100ms;
}


a.cart-btn:hover {
  scale: 1.05;
  background-color: var(--cart-btn-font-color);
  border: 1px solid var(--cart-btn-bg-color);
}

a.cart-btn:hover * {
  color: var(--cart-btn-bg-color);
}

a.cart-btn * {
  font-size: 1.5rem;
  color: var(--cart-btn-font-color);
}


/* Media Queries */

@media(min-width: 600px) {
  a.cart-btn {
    right: 2rem;
    position: relative;
    margin-top: 2rem;
  }
}